body{
	 background-image: url("../gallery/4.gif");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 25px;
	margin-left: 35px;
}
.homes{
		height: 100px;
		width: 100%;
		background: rgba(0,0,0,0.6);
	}
	.homes ul{
    float: right;
    margin-right: 20px
}
.homes ul li{
	list-style: none;
	margin-left: 65px;
	margin-right: 30px;
	display: inline-block;
	line-height: 100px;
	
}
.homes ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-family: "cooper black";
}
li
{
	border-bottom: 20px solid rgba(0, 0, 0, .3);
}
.active
{
	background-color: red;
	font-weight: bolder;
	letter-spacing: 2px;
}
li a:hover
{
	background-color: #8cb3d9;
	font-weight: bolder;
	letter-spacing: 1px;
}
.buttcon{
	margin-left: 500px;
}
.go{
			background-color: #e6e6ff;
			margin-left: 1180px;
			font-size: 30px;
			color:black;
		}
		.month{
			background: blue;
			color: white;
			font-size: 20px;
			font-family: arial;
		}
		td{
			text-align: center;	
		}
		.holi{
			background-color: pink;
			color: black;
		}
		.holi:hover{
			background-color: violet;
			color: white;
		}
		.tables{
		  justify-content: center;
			float: left;
			margin-left: 10px;	
			font-size: 17px;
			font-family: arial;
      background-color:white;
		}
		h1{
			color: white;
			text-align: center;
			margin-top: auto;
			height: 40px;
			padding-top: 20px;
      padding-bottom: 20px;
      font-family: arial;
		}
	
		.lfooter{
	  color: white;
      background-color: black;
      text-align: center;
      margin-top: auto;
      height: 50px;
      padding-top: 20px;
      font-size: 20px;
      text-shadow: 2px 2px 10px black;
		}
		.content {
   		margin-left: 140px;
   		margin-right: 140px;
 		}
     	.sunday{
     	color: red;
     	background-color: white;
     	}